Already have an account? Sign in here

<form action="/verify_credentials" method="post">
  <label for="browser_username">Username</label>
  <input id="browser_username" type="text" name="input_username" placeholder="Enter a username...">

  <label for="browser_pwd">Password</label>
  <input id="browser_pwd" type="password" name="input_pwd" placeholder="Enter a password...">

  <button>Sign in</button>
</form>