

<form action="/insert_user_record">
  <label for="browser_username">Username</label>
  <input id="browser_username" type="text" name="input_username" placeholder="Enter a username...">

  <label for="browser_pwd">Password</label>
  <input id="browser_pwd" type="password" name="input_pwd" placeholder="Enter a password...">

  <label for="browser_pwdc">Password</label>
  <input id="browser_pwdc" type="password" name="input_pwdc" placeholder="Confirm a password...">

  <button>Sign Up</button>
</form>